# Python:
*.py[cod]
*.so
*.egg
*.egg-info
build
__pycache__
pymonitor.py

# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

#init
schema.sql
testinitrun.py
test1.py
test.html

#log
app.log
access_log
backup
dist